body {
    background-color: rgb(27, 93, 179);
    font: normal 15pt Arial;
    color: rgb(245, 247, 241);
}

header {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.795);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}

div {
    text-align: center;
    padding: 10px;
}